h1 {
  color: brown;
  font-weight: bolder;
  size: 40px;
}

h2 {
  color: rgb(202, 64, 64);
  font-weight: bold;
  size: 30px;
}

h3 {
  color: rgb(230, 56, 56);
  font-weight: normal;
  size: 20px;
}

h4 {
  color: rgb(240, 20, 20);
  font-weight: lighter;
  size: 10px;
}
